---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Learn about MycoJMO"
	pubDate={new Date('August 28 2025')}
	heroImage="/fungi/1708-bsp.jpg"
>
	<p>
		Your tree. Your roots. Our fungi, metaphorically of course.
	</p>

</Layout>
