---
import Layout from '../layouts/BlogPost.astro';
import mycorrhizaeImage from '/public/myco-cartoon.png';
import { Image } from 'astro:assets';
---

<Layout
	title="About Me"
	description="Learn about MycoJMO"
	pubDate={new Date('August 28 2025')}
	heroImage="/fungi/1708-bsp2.png"
>

	<p>
		So it turns out that the fungi shown in the picture is not actually a mycorrhizal fungi -- most polypores are not, they're saprophytic (decomposing of dead wood). It is <i>Meripilus sumstinei</i>
, aka the Black Staining Polypore. No matter -- what a beaut, eh?
	</p>

	<p>
		My name is Justin Pewitt Moore. I live in Stanford, CA and am originally from Franklin, TN. I'm fascinated by:
		<ul>
			<li> math and have been since 1993</li>
			<li> computers and have been since 1998</li>
			<li> ultimate frisbee and have been since 2004</li>
			<li> space and have been since 2006</li>
			<li> bitcoin and have been since 2012</li>
			<li> fungi and have been since 2017</li>
			<li> parenting and have been since 2020</li>
		</ul>
	</p>

	<p>
		MycoJMO is a consulting company where I bring my talents to you and your organization to collaboratively discover what is needed. Maybe you already know -- if so, I can build that. Or untangle it, or get in there and figure out how it works / document/understand it. Maybe you have no idea and we'll discover it together. I am up for it! The word <b>Myco</b> relates to fungi and <b>JMO</b> is what a lot of folks call me. I would have liked to bring mycorrhizae into the name, but I was informed that's too complicated!
	</p>

	<p>
		Most plants cannot get much taller than ~1ft without the aid of fungi:  symbiosis required; two kingdoms working together. Mycorrhizal fungi represent this overlap between the plant and fungi kingdoms. An easy way to think about how this fancy term works is the following: fungi mine the soil for additional resources (water, minerals) and provide said resources and efficiency boost to the plant. In return, the plants provide the fungi with sugars that it needs to survive.
	</p>

	<p><Image src={mycorrhizaeImage} alt="Mycorrhizae" width={240} height={240} style="display: block; margin: 0.5em 0;" />
		Mycorrhizal plants are more likely to 
		<ul>
			<li>express resistance to:</li>
				<ul>
					<li>Disease</li>
					<li>Drought</li>
					<li>Salinity</li>
					<li>Insects</li>
					<li>Toxicity</li>
				</ul>
			<li>Colonization of barren soil</li>
		</ul>
	</p>

	<p>Mycorrhizal networks proposed functions and effects
		<ul>
			<li>potential nutrient and photosynthate transfer between plants (the internet underground)</li>
			<li>potential signaling and communication between plants</li>
			<li>Allelopathic communication (read: altering chemical production/efficacy to potentially interfere with the development of other plants or organisms)</li>
			<li>Defensive communication</li>
		</ul>
	</p>

	<p>
		tl;dr - better together.

		Your tree. Your roots. My spores, metaphorically of course. Let's help one anohter. Please reach out if you're intrigued: <a href="mailto:work@mycojmo.com">work@mycojmo.com</a>
	</p>
</Layout>