---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Learn about MycoJMO"
	pubDate={new Date('August 28 2025')}
	heroImage="/fungi/1708-bsp2.png"
>

	<p>
		So it turns out that the fungi shown in the picture is not actually a mycorrhizal fungi -- most polypores are not, they're saprophytic (decomposing of dead wood). It is <i>Meripilus sumstinei</i>
, aka the Black Staining Polypore. No matter -- what a beaut, eh?
	</p>

	<p>
		My name is Justin Pewitt Moore. I live in Stanford, CA and am originally from Franklin, TN. I'm fascinated by:
		<ul>
		<ol> math and have been since 1993</ol>
		<ol> computers and have been since 1998</ol>
		<ol> ultimate frisbee and have been since 2004</ol>
		<ol> space and have been since 2006</ol>
		<ol> bitcoin and have been since 2012</ol>
		<ol> fungi and have been since 2017</ol>
		<ol> parenting and have been since 2020</ol>
		</ul>
	</p>

	<p>
		MycoJMO is a consulting company where I bring my talents to you and your organization to collaboratively discover what is needed. Maybe you already know -- if so, I can build that. Or untangle it, or get in there and figure out how it works / document/understand it. Maybe you have no idea and we'll discover it together. I am up for it! The word <b>Myco</b> relates to fungi and <b>JMO</b> is what a lot of folks call me. I would have liked to bring mycorrhizae into the name, but I was informed that's too complicated!
	</p>

	<p>
		As I understand it, no plant can get much taller than ~1ft without the aid of fungi:  symbiosis required, two kingdoms working together. Mycorrhizal fungi represent this connecting point between the plant and fungi kingdoms. An easy way to think about how this fancy term works is the following:<br>
		Fungi mine the soil for additional resources (water, minerals) and provide said resources and efficiency boost to the plant. In return, the plants provide the fungi with sugars that it needs to survive. Beautiful!ß
	</p>

	<p>
		Your tree. Your roots. My spores, metaphorically of course. Let's collaborate! Please reach out if you're intrigued.
	</p>
</Layout>