---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 id="hi-is-this-thing-on-">hi! is this thing on??</h1>
			<h3 id="desirable-have-done-it-can-do-it-i-absolutely-love-it-">Desirable (have done it, can do it; i absolutely love it.)</h3>
			<h4 id="1-throw-me-in-the-deep-end">1. Throw me in the deep end</h4>
			<ul>
			<li>Fearless pursuer of order amidst chaos</li>
			<li>Make sense of complicated, tangled web of complexity</li>
			<li>Ask questions to uncover root issue(s)</li>
			<li>New toolchain, new framework, new cloud, new editor; all good with me!</li>
			</ul>
			<h4 id="2-growing-your-talent-internally-and-via-hiring-">2. Growing your talent (internally and via hiring)</h4>
			<ul>
			<li>Coaching where needed, advocate for, promote internally <strong>or</strong> <em>externally</em></li>
			<li>Validate ability and drive</li>
			<li>Supercharging output</li>
			<li>Watch as folks discover their inner worth</li>
			</ul>
			<h4 id="3-a-client-is-stuck">3.  A client is stuck</h4>
			<ul>
			<li>You know the feeling of &quot;The production bug is a result of <em>my code</em>.&quot; ? i crave working like this supercharged feeling without the prod bug!</li>
			<li>I see the way out of the problem for the client :: It&#39;s <strong>go</strong> time -- i'&#39;'m going to be working <strong>late</strong> on this one.</li>
			</ul>
			<h4 id="4-no-one-else-wants-to-do-the-grunt-work-manual-labor-annoying-task">4.  No one else wants to do the grunt work / manual labor / annoying task</h4>
			<ul>
			<li>Put me in coach! Just <strong>get it done</strong></li>
			</ul>

			<h3 id="not-desirable-have-done-it-can-do-it-i-do-not-like-it-">Not Desirable (have done it, can do it; i do not like it.)</h3>
			<ol>
				<li>Setting job titles and setting roles and responsibilities for them.</li>
				<li>Setting budgets or staff asks</li>
				<li>Designing career tracks and promotional pathways.</li>
				<li>Setting paybands and justifying promotions across departments</li>
				<li>Vendor management</li>
			</ol>
			<h3 id="tell-me">Tell me</h3>
			<p><strong>how crazy, how dumb, how inefficient, how ridiculous your setup is :: no judgment. Let&#39;s see what we can do!</strong></p>
			<p>if you think it sounds like we should work together,
			shoot me an email at work@mycojmo.com</p>
			<p>if you want to discuss something you think i'm interested in,
			shoot me an email at play@mycojmo.com</p>
		</main>
		<Footer />
	</body>
</html>
